<ion-header>
  <ion-toolbar>
    <ion-title>Ejercicio 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select [(ngModel)]="make" placeholder="Todos">
        <ion-select-option *ngFor="let make of makes">{{ make }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ng-container *ngFor="let car of cars">
    <ion-item *ngIf="((car.make == make) || (make == ''))">
      <ion-label>
        <h2>{{ car.make }}</h2>
        <h3>{{ car.model }}</h3>
      </ion-label>
      <ion-icon *ngIf="car.year < 2000" name="cart"></ion-icon>
      <ion-icon *ngIf="car.year == 2000" name="car"></ion-icon>
      <ion-icon *ngIf="car.year > 2000" name="car-sport"></ion-icon>
    </ion-item>
  </ng-container>
  </ion-list>
</ion-content>

<!-- *ngFor="let car of cars" -->
<!-- *ngIf="((car.make == make) || (make == ''))" -->